:root {
  --dark: #565C66;
  --extra-dark: #2D3440;
  --pink: #FEAFC3;
  --dark-pink: #FF7799;
  --light-pink: rgb(252, 252, 252, 0.3);
  --white: #FCFCFC;
  --button-main: rgba(252, 252, 252, 0.4);
  --button-secondary: #FF2F64;
}

@font-face {
  font-family: "inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
  background-color: var(--pink);
  margin: 0;
}

.button {
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
}

.main-button {
  width: 139px;
  height: 44px;
  color: var(--extra-dark);
  background-color: var(--white);
  border: 4px solid rgb(252, 252, 252, 0.4);
  text-align: center;
}

.button-secondary {
  min-width: 160px;
  height: 52px;
  color: var(--white);
  background-color: var(--button-secondary);
  border: 4px solid rgba(255, 47, 100, 0.3);
  text-align: center;
}

.navigation-link {
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
  color: inherit;
}

.phone-header {
  font-weight: 700;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.navigation-link-account {
  font-size: 14px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  color: var(--extra-dark);
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--extra-dark);
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-dark);
}

.slider {
  color: var(--extra-dark);
}

.slider-title {
  font-size: 36px;
}

.slider-item__description {
  font-size: 18px;
  line-height: 24px;
}

.offer {
  color: var(--extra-dark);
}s

.offer-item {
  background-color: var(--dark-pink);
  min-width: 570px;
  min-height: 268px;
}

.cards {
  background-color: var(--white);
  min-width: 270px;
  min-height: 281px;
}

.product-card__image {
  border-radius: 50%;
}

.product-card__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--extra-dark);
}

.advantages {
  border-radius: 16px;
  background-image: url(../images/pattern.jpg);
}

.advantages-picture {
  width: 48px;
  height: 48px;
  border: 2px solid var(--extra-dark);
  border-radius: 50%;
  text-align: center;
}

.our-blog {
  min-width: 570px;
  min-height: 224px;
  background-image: url(../images/trio-icecream.jpg);
  border-radius: 16px;
}

.blog-description {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--extra-dark);
}

.blog-title {
  line-height: 20px;
}

.subscription {
  background-image: url(../images/diagonal-lines.jpg);
  border-radius: 16px;
}

.delivery {
  min-width: 1170px;
  min-height: 534px;
  border-radius: 16px;
  background-image: url(../images/icecream-on-table.jpg);
}

.form-label {
  color: var(--extra-dark);
  font-weight: 700;
}

.contacts {
  min-width: 1170px;
  min-height: 492px;
  background-image: url(../images/trio-cones-icecream.jpg);
  border-radius: 16px;
}

.contacts-info {
  min-width: 343px;
  min-height: 364px;
  background-color: var(--white);
  border-radius: 8px;
}

.contacts-address-details {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--extra-dark);
  text-decoration: none;
}

.contacts-schedule-details {
  font-size: 14px;
  line-height: 20px;
}

.footer-about-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.footer-suppliers {
  font-weight: 700;
}

.html-logo-details {
  color: var(--extra-dark);
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

/* Catalog */

.button-filter {
  background-color: var(--light-pink);
  border-radius: 20px;
  border-color: var(--white);
  text-align: center;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.breadcrumbs-link_current {
  text-decoration: underline;
}

.catalog-products {
  color: var(--extra-dark);
  font-size: 14px;
  line-height: 20px;
}

.filter {
  background-color: var(--light-pink);
  border-color: transparent;
  border-radius: 20px;
  height: 36px;
  min-width: 196px;
}

.catalog-filter-list {
  border-radius: 16px;
}

.pagination-link {
  text-decoration: none;
  color: var(--extra-dark);
  line-height: 20px;
}

.pagination-current {
  background-color: var(--white);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}
